body,
html,
#__next {
  margin: 0;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  background-color: #f2f2f2; }

.layout {
  padding: 25px; }

.wave {
  width: 100%;
  height: auto;
  transform: translateY(-50%);
  margin-top: -25px;
  margin-left: -25px;
  margin-right: -25px;
  position: absolute; }
  .wave path {
    fill: #f2f2f2; }

.button {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  color: #1f1f1f;
  padding: 12.5px;
  border-radius: 12.5px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  transition: box-shadow .2s ease;
  position: relative;
  border: 1px solid #d9d9d9; }
  .button:hover {
    background-color: white; }
  .button:active {
    background-color: #f1f1f1; }
  .button img {
    width: 36px;
    height: 36px; }
  .button label {
    font-size: 1.25em;
    font-weight: 600;
    flex-grow: 1;
    cursor: pointer; }
  .button.disabled {
    border-style: dashed;
    pointer-events: none; }
    .button.disabled img {
      filter: grayscale(100%); }
    .button.disabled > * {
      opacity: .75; }

.buttons {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto; }
  .buttons .button:not(:last-child) {
    margin-bottom: 12.5px; }

.hero {
  background-color: #0D1E24;
  color: #f2f2f2;
  margin-bottom: 25px;
  margin-top: -25px;
  margin-left: -25px;
  margin-right: -25px;
  display: grid;
  grid-gap: 7px; }
  .hero img {
    width: 84px;
    height: 84px;
    grid-area: logo; }
  .hero .title {
    font-size: 2.5em;
    font-weight: 600;
    grid-area: title;
    text-align: center; }
  .hero .description {
    font-size: 1.25em;
    font-weight: normal;
    grid-area: description;
    text-align: center; }

.hero {
  height: 225px;
  grid-template-areas: "logo title" "logo description"; }
  .hero img {
    margin: auto 7px auto auto; }
  .hero .title {
    margin: auto auto 0 0; }
  .hero .description {
    margin: 0 auto auto 0; }

@media screen and (max-width: 430px) {
  .hero {
    height: 300px;
    grid-template-areas: "logo" "title" "description";
    grid-template-rows: 1.75fr 0fr 1fr; }
    .hero img {
      margin: auto auto 7px auto; }
    .hero .title {
      margin: 0 auto 0 auto; }
    .hero .description {
      margin: 0 auto auto auto; } }

